$colors:$black,$thridViolet,$drkviolet,$primaryPink;
.whatsHappening{
    .tabContainer{
        .ultab{
            @each $current-color in $colors{
                $i: index($colors, $current-color);
                li:nth-child(#{$i}){
                    letter-spacing: .25px;
                    width: 284px;
                    background-color: $current-color;
                    width: 284px;
                    padding: 10px 0;
                    text-align: center;
                    border-radius: 14px 14px 0px 0px;
                    &.active{
                        background-color: $lightYellow;
                        color: $black;
                    }
                }
            }
           
        }
    }
}