ul(class="d-flex align-items-center socialLinks")
  each val in ['youtube','insta','facebook','twitter','lnkedIn','tikeTok','twitch','reddit','snapChat']
   li(class="mrt-18")
    a(href="#" class=`${val} d-block linkTopBar`)