
- var listOne = ['Access to all days of the festival','Kids Area and F&B','Play beyond access ','Cosplay competitions']
- var listTwo = ['Press conference access ','Media Badge  ','Free food & drinks ']
- var listThree = ['Access to all days of the festival ','Meet & greet','Investors access ','VIP badge ']

mixin ticket(className,lists,title,price)
 div(class=`${className} `)
  div(class=" headings")
   h3(class="text-uppercase white fontRajdhani size-30 weight-600 ltrspac-3 text-center")= title 
   span.backLine
   p(class="price size-22 fontRajdhani weight-700 d-flex align-items-center justify-content-center")=  price
    span(class="d-inline-block mrl-10")  AED
  div(class="ticketCard")
  
   ul
    each val in lists 
     li(class="lama-light white size-15 d-flex align-items-center")
      span.icon
      span(class="d-inline-block")= val
      
   include ../../general-components/getTicket.pug

+ticket ('earlyBird',listOne,'early Bird',150)
+ticket ('media',listTwo,'media',250)
+ticket ('vip',listThree,'VIP',2000)
