- var listOne = ['Access to all days of the festival','Kids Area and F&B','Play beyond access ','Cosplay competitions']
- var listTwo = ['Press conference access ','Media Badge  ','Free food & drinks ']
- var listThree = ['Access to all days of the festival ','Meet & greet','Investors access ','VIP badge ']
- var listOneHover = ["Hover to all days of the festival","Kids Area and F&B","no Play beyond access","Cosplay competitions"]
- var listTwoHover = ['Hover to all days of the festival','Kids Area and F&B','Play beyond access ','hover Cosplay competitions']
- var listThreeHover = [" GameExpo brings players together to enjoy some of the hottest games in the world while showcasing the best talent from the region","Inclusive of tournaments and main gaming areas.","Tickets from 24-25 June will include access to Play Beyond, the first influencer gaming tournament in the region."]
mixin ticket(className,lists,title,price,hoverLists)
  div(class=`${className} `)
    div(class=" headings")
      h3(class="text-uppercase white fontRajdhani size-30 weight-600 ltrspac-3 text-center")= title 
      span.border
      span.backLine
      p(class="price size-22 fontRajdhani weight-700 d-flex align-items-center justify-content-center")=  price
        span(class="d-inline-block mrl-10")  AED
    div(class="ticketCard")
      div(class="card-lists")
        ul(class="frontList")
          each val in lists 
            li(class="lama-light white size-15 d-flex align-items-center")
              span.icon
              span(class="d-inline-block")= val
        ul(class="backList")
          each val in hoverLists 
            li(class="lama-light white size-12 d-flex align-items-start")
              span.icon
              span(class="d-inline-block")= val

      include ../../general-components/getTicket.pug
.swiper-slide
 +ticket ('earlyBird',listOne,'early Bird',150,listOneHover)
.swiper-slide
 +ticket ('media',listTwo,'media',250,listTwoHover)
.swiper-slide
 +ticket ('vip',listThree,'VIP',2000,listThreeHover)
.swiper-slide
 +ticket ('earlyBird',listOne,'early Bird',150,listOneHover)
.swiper-slide
 +ticket ('media',listTwo,'media',250,listTwoHover)
.swiper-slide
 +ticket ('vip',listThree,'VIP',2000,listThreeHover)
