div(class="changeGame paddingSections overlayBottomTop drkBluebkground" style='background-image: url(images/changeGameBk.png)')
 .line 
 .container-def.shrink
  div(class="d-flex align-items-end justify-content-between")
   img(src="images/changeGame.png")
   div(class="content")
    h2(class="h2Heading") WE ARE CHANGING THE GAME! 
    h3(class="lama-bold size-16 white mtop-30 mrb-25 ltrspac-2") Dubai Esports And Games Festival
    p(class="lama-reg size-15 white mrb-25 ltrspac-2") Founded in 2022, the Dubai Esports &amp; Games Festival celebrates all things gaming. By combining the best in competitive video games with electrifying experiences and next-gen talent
    p(class="lama-reg size-15 white mrb-25 ltrspac-2") The annual festival aims to become a regular fixture in the international circuit. It's time to play to infinity and beyond!
    include ../general-components/learnmore.pug
  


