.heroArea 
 
 div(class="bckgroundHero position-absolute top-0 " style="background-image: url(images/hero.png)")
 .container-def
   include ./subcomp/top-bar
 include ./subcomp/header
 .hero__content(class="position-relative")
  .container-def
   h1(class="fontRajdhani weight-700 white text-uppercase d-flex flex-column size-45")
    span(class="block") Dubai's Esports Festival 
    span(class="block") Where Gaming Legends Are Born!
   div(class="hero-details d-flex align-items-center")
    div(class="d-flex align-items-end white size-16 lama-medium")
     div.containerIcon
      span.icon
     p(class="mrb-5") 21-26 June 2024
    div(class="d-flex align-items-end white size-16 lama-medium mrl-50")
     div.containerIcon.dubaiTitle
      span.icon
     p(class="mrb-5") Dubai Exhibition Centre, Expo City Dubai
 .numericSection 
  .container-def
   div(class="d-flex align-items-center")
    div(class=" white numericSection--container")
     div(class="d-flex aliging")
      p(class="d-flex flex-column")
        span 228
        span(class="lama-medium size-6 drkviolet text-uppercase") days
      p(class="sep") :
      p(class="d-flex flex-column")
        span 23
        span(class="lama-medium size-6 drkviolet text-uppercase")  hours
      p(class="sep") :
      p(class="d-flex flex-column") 
        span 40
        span(class="lama-medium size-6 drkviolet text-uppercase")  minutes
    p(class="text-uppercase lama-bold size-31 white mrl-50 ltrspac-2") EXCITING GAMES… EPIC SHOWDOWNS!
   
  
