div(class="getTickes paddingSections showItems overlayBottomTop drkBluebkground" style='background-image: url(images/ticketBK.png)')
 .yellowLine
 .container-def.shrink
  div(class="heading-ticket showItems mrb-50")
   div(class="d-flex align-items-center justify-content-between")
    h2(class="h2Heading") Get your tickets
    div(class="d-flex align-items-center")
     p(class="lama-reg size-12 white text-uppercase") OUR TICKET PARTNER  :
     img(src="images/paltinum.png" class="d-inline-block mrl-15")
  div(class="containerTicketCard d-flex justify-content-between showItems ")
    .swiper.mySwiper
     .swiper-wrapper
      include ./subcomp/ticket.pug
 div.pagination
  .swiper-button-next
  .swiper-button-prev
    