div(class="whatTheNew drkBluebkground paddingSections overlayBottomTop" style=("background-image:url(images/what_new.png)"))
 .pinkLine
 .container-whatTheNew
  h2(class="h2Heading showItems mrb-40") What's New This Year?
  div(class="education-sliding pdtop-50 pdb-50 showItems")
   .swiper
    .swiper-wrapper
     - for(let i = 0 ; i < 4;i++)
      .swiper-slide 
       include ./subcomp/whatTheNewCard.pug
    div.swipperNav 
     .swiper-pagination
   
     .swiper-button-prev
     .swiper-button-next
  
       
      

  