.officialCard{
    width: 225px;
    height: 124px;
    background-image: url("../images/cover-card-official.png");
    position: relative;
    cursor: pointer;
    background-size: 95%;
    background-repeat: no-repeat;
    img{
        @include cntrElmnt();
        width: 100px;
    }
}