
include ./components/head.pug
 include ./components/layout/hero.pug
 include ./components/layout/Tickets.pug 
 include ./components/layout/changeGame.pug 
 include ./components/layout/everytaste.pug 
 include ./components/layout/whatHappen.pug
 include ./components/layout/whatTheNew.pug

  


  
 script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
 script(src="js/script.js")
