//Design for Desktop 
@media screen and (max-width: 1439px) and (min-width: 1200px){
    .changeGame img{
     width: 350px;
     bottom: 0;
     top: 150px;
    }
    .changeGame .content{
        transform: translate(500px, 20px);
    }
   
}