//min width 375 and max width 767

@media screen and (max-width: 768px) and (min-width: 375px){
  
    .changeGame{
        padding-top: 50px;
        &__container{
            flex-direction: column;
        }
        .learnmoreBtn{
            margin:auto;
        }
    }
    .changeGame .content{
        transform: none;
        text-align: center;
        margin-top: 50px;
    }
    .changeGame img{
        position: static;
        width: 400px;
        margin: auto;
        max-width: 90%;
    }
    .changeGame .h2Heading,.changeGame .content>p{
        width: 100%;
        max-width: 100%;
    }
    .hero__content {
        position: static !important;
    }
  
    @include mobile;
    //mobile 
  
}
