
//tablet 
//max width 1200
@include between(768,1200){
    .changeGame{
        padding-top: 50px;
        &__container{
            flex-direction: column;
        }
        .learnmoreBtn{
            margin:auto;
        }
    }
    .changeGame .content{
        transform: none;
        text-align: center;
        margin-top: 50px;
    }
    .changeGame img{
        position: static;
        width: 400px;
        margin: auto;
        max-width: 90%;
    }
    .changeGame .h2Heading,.changeGame .content>p{
        width: 100%;
        max-width: 100%;
    }
}