
//tablet 
//max width 1200
@media screen and (max-width: 1200px) and (min-width: 768px){
    .container-def.shrink{
        max-width: 90%;
    }
    .cardHappening img{
      width: 150px;
    }
     .cardHappening{
   align-items: center;
    }
    .whatsHappening .tabContainer .ultab li{
        font-size: 12px;
    }
    .cardHappening .content h3{
        font-size: 24px;
    }
    .whatTheNew .container-whatTheNew{
        width: 100%;
    }
    .whatTheNew .h2Heading{
        width: 100%;
        text-align: center;
    }
    .whatTheNew .education-sliding{
        width: 550px;
        padding-bottom: 20px;
    }
    .whatTheNew .cardContent{
        max-width: 270px;
    }
    .whatTheNew .cardImage{
      
        min-width: 240px;
        height: 270px;
        transform: translateX(65px);
    }
    .changeGame{
        padding-top: 50px;
        &__container{
            flex-direction: column;
        }
        .learnmoreBtn{
            margin:auto;
        }
    }
    .changeGame .content{
        transform: none;
        text-align: center;
        margin-top: 50px;
    }
    .changeGame img{
        position: static;
        width: 400px;
        margin: auto;
        max-width: 90%;
    }
    .changeGame .h2Heading,.changeGame .content>p{
        width: 100%;
        max-width: 100%;
    }

   @include hero;
   /*
         .cards-definitions{
            ul{
                flex-wrap: wrap;
                li{
                    width: 46%;
                    margin-bottom: 15px;
                }
            }
         }
         */
         .gameList{
           padding-top: 0;
         }
    //mobile 
 
    @include mobile;

}
